@model IEnumerable<OEWebApplicationApp.Models.VendorModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>apm</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaxNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact1Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact1Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact1Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact2Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact2Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact2Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PmtDaysType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiscDeductionRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiscDeduction2Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorTaxGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrefilledTaxAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceCode1Default)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceCode2Default)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistCodeDefault)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckStubDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneInvoicePerCheck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivesLienWaiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivesForm1099)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientTaxIdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondTinNotice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormType1099)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrossProceedsToAtty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrossRevenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmtPaidThisYr1099)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiscDeduction2AmtDeductedThisYr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmtPaidLastYr1099)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiscDeduction2AmtDeductedLastYr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmtPaidNextYr1099)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiscDeduction2AmtDeductedNextYr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivesFormT5018)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessNameLine1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessNameLine2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleInitial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientAccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialInsuranceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutstndgAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutstndgDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetainageBeingHeld)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiscDeductionWithheld)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastAutoNumberUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastInvoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastInvDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastInvAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastCheckBankAcct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastCheck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastCheckDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastCheckAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YtdAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YtdDiscountOffered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YtdDiscountTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YtdDiscountLost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YtdMiscDeduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YtdPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastYrAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastYrDiscOfrd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastYrDiscTakn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastYrDiscLost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastYrMiscDeduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastYrAmtPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextYrAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextYrDiscOfrd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextYrDiscTakn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextYrDiscLost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextYrMiscDeduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextYrAmtPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenLiabInsProofReq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlInsCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlInsPolicyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlInsEffectiveDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlInsExpirationDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlInsLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoInsProofReq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoInsCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoInsPolicyNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoInsEffectDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoInsExpirDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoInsLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkCompInsProofReq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkCompInsCmpany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkCompPolicyNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkCompEffectDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkCompExpirDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkCompInsLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UmbrellaInsProofReq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UmbrellaInsCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UmbInsPolicyNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UmbInsEffectiveDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UmbInsExpirDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UmbrellaInsLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnholdStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncludedForPmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PmtAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PmtRetainageToPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PmtDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PmtRetainageToHold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PmtMiscDeduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbCompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperatorStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaxNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact1Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact1Extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact2Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact2Extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PmtDaysType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiscDeductionRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiscDeduction2Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorTaxGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrefilledTaxAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceCode1Default)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceCode2Default)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistCodeDefault)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckStubDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneInvoicePerCheck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivesLienWaiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivesForm1099)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientTaxIdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondTinNotice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormType1099)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossProceedsToAtty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossRevenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmtPaidThisYr1099)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiscDeduction2AmtDeductedThisYr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmtPaidLastYr1099)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiscDeduction2AmtDeductedLastYr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmtPaidNextYr1099)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiscDeduction2AmtDeductedNextYr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivesFormT5018)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessNameLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessNameLine2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleInitial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialInsuranceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutstndgAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutstndgDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetainageBeingHeld)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiscDeductionWithheld)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastAutoNumberUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastInvoice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastInvDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastInvAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastCheckBankAcct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastCheck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastCheckDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastCheckAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YtdAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YtdDiscountOffered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YtdDiscountTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YtdDiscountLost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YtdMiscDeduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YtdPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastYrAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastYrDiscOfrd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastYrDiscTakn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastYrDiscLost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastYrMiscDeduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastYrAmtPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextYrAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextYrDiscOfrd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextYrDiscTakn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextYrDiscLost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextYrMiscDeduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextYrAmtPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenLiabInsProofReq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlInsCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlInsPolicyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlInsEffectiveDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlInsExpirationDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlInsLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoInsProofReq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoInsCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoInsPolicyNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoInsEffectDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoInsExpirDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoInsLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCompInsProofReq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCompInsCmpany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCompPolicyNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCompEffectDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCompExpirDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCompInsLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UmbrellaInsProofReq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UmbrellaInsCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UmbInsPolicyNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UmbInsEffectiveDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UmbInsExpirDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UmbrellaInsLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnholdStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncludedForPmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PmtAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PmtRetainageToPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PmtDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PmtRetainageToHold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PmtMiscDeduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbCompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperatorStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Vendor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Vendor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Vendor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
