@model IEnumerable<OEWebApplicationApp.Models.ViewGlaccountModel>

@{
    ViewData["Title"] = "GetRequest";
}

<h1>GetRequest</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GateKeeper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalThreshold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalGateKeeper)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GateKeeper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalThreshold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalGateKeeper)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
        <h5 class="">Requester:  @ViewBag.RequesterBool</h5>
    </tbody>
</table>
