@model IEnumerable<OEWebApplicationApp.Models.ViewGlaccountModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>gls</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountCustomField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GateKeeper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalThreshold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalGateKeeper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCustomField)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GateKeeper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalThreshold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalGateKeeper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Account">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Account">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Account">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
