
@{
    ViewData["Title"] = "Settings";
}

<h3>Current Settings Page</h3>
<div class="container-fluid d-inline-flex">
    <div class="text-left col-12">
        <h5 class="border">User:  @ViewBag.UserName</h5>
        <h5 class="border">User Address: @ViewBag.Address</h5>
        <h5 class="border">GST:  @ViewBag.GST</h5>
        <h5 class="border">CONFIG LOCATION: @ViewBag.CONFLOC</h5>
        <h5 class="border">EXPORT LOCATION:  @ViewBag.EXPLOC</h5>
    </div>
</div>

